#home {
    width: 100%;
  height: 75vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../images/backgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.logo a {
  color: white;
  padding: 0px 15px;
  /* font-weight: bold; */
  font-size: 1.5em;
}
.nav-items {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-items a {
  color: white;
  padding: 0px 15px;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-size: 0.9em;
}

.nav-items a:last-child {
  padding-right: 25px;
}

.header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter UI', Arial, Helvetica, sans-serif;
}

.header h1 {
  font-size: 3em;
  color: white;
}

.header h2 {
  padding-top: 10px;
  font-size: 1.2em;
}

#github {
  margin-top: 25px;
  padding: 15px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
}
#github:hover {
  background-color: #0069d9;
}
.about-me-title{
  display: flex;
  justify-content: center;
}
#about{

  height: 100%;
}
.about-me-title h1{
  margin-top:20px;
  font-family: 'Inter UI', Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 3em;
  color:#0A335C;
}
.center-container{
  display: flex;
  justify-content: center;
}