html, body, section, div, h1, h2, h3, h4, h5, h6, p, span, ul, ol, li, a, button, input {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
}
::-webkit-scrollbar{
    color:transparent;
    width: 0px;
}

button {
    cursor: pointer;
}